In [4]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.shape

(56065, 14)

In [6]:
df.values

array([[0, 11, 'The Sims', ..., nan, nan, nan],
       [1, 12, 'Final Fantasy', ..., nan, nan, nan],
       [2, 13, 'Grand Theft Auto V', ..., nan, nan, nan],
       ...,
       [61845, 62476, 'Zone of the Enders: The 2nd Runner MARS', ...,
        nan, nan, nan],
       [61846, 62477, 'Zoo Tycoon: Ultimate Animal Collection', ..., nan,
        nan, nan],
       [61847, 62478, 'Zoo Tycoon: Ultimate Animal Collection', ..., nan,
        nan, nan]], dtype=object)

In [8]:
df.describe()

,Unnamed: 0,Rank,Year,Critic_Score,User_Score,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Global_Sales
count,56065.000000,56065.000000,56065.000000,6455.000000,389.000000,13478.000000,13812.000000,7554.000000,16126.000000,19984.000000
mean,29224.326710,29525.544493,2006.340373,7.214779,8.110797,0.346277,0.193516,0.181598,0.053852,0.479639
std,17166.742642,17340.117752,8.528714,1.455920,1.624565,0.909943,0.587698,0.447733,0.197016,1.480785
min,0.000000,11.000000,1980.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14482.000000,14633.000000,2001.000000,6.400000,7.500000,0.050000,0.010000,0.020000,0.000000,0.040000
50%,28959.000000,29260.000000,2008.000000,7.500000,8.500000,0.130000,0.040000,0.050000,0.010000,0.130000
75%,43772.000000,44223.000000,2012.000000,8.300000,9.100000,0.320000,0.160000,0.160000,0.040000,0.410000
max,61847.000000,62478.000000,2022.000000,10.000000,10.000000,41.360000,29.020000,10.220000,10.570000,82.650000