In [14]:
import pandas as pd

df = pd.read_csv('music1.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

# Seprating data set

In [23]:
X = df.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [27]:
Y = df['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

# USING DECISION TREES

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [36]:
model = DecisionTreeClassifier()

# Predictions

In [54]:
model.fit(X,Y)
predictions = model.predict([[100,1],[23,0]])
predictions

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Classical', 'Dance'], dtype=object)

# always allocate 70 to 80% of data for training and 20% for testing

# checking accuracy of the model

In [64]:
from sklearn.model_selection import train_test_split

In [298]:
X_train, X_test, Y_train,Y_test=train_test_split(X,Y, test_size=0.2)

In [300]:
model2 = DecisionTreeClassifier()
model2.fit(X_train, Y_train)
# predictions2 = model2.predict([[20,1],[22,0]])
predictions2 = model2.predict(X_test)
predictions2

array(['Classical', 'Classical', 'HipHop', 'Jazz'], dtype=object)

In [302]:
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test, predictions2)
score

1.0

# persisting files

In [313]:
# from sklearn.externals import joblib
import joblib
joblib.dump(model,'music_recom_recarp.joblib')

['music_recom_recarp.joblib']